jinja2
flask
flask-cors
psycopg2==2.7.4
sqlalchemy==1.2.7
alembic==0.9.9
covador==0.9.17
furl
pytest==4.6.4
pytest-mock
factory-boy
pytest-factoryboy
pytest-httpserver==0.3.0
confi==0.0.3
requests
pyuri
sentry-sdk[flask]==0.10.2