jinja2
flask
flask-admin
flask-cors
psycopg2
sqlalchemy
sqlalchemy_utils
alembic
covador
furl
pytest
pytest-mock
factory-boy
pytest-factoryboy
pytest-httpserver
confi
requests
pyuri
werkzeug
WTForms
Flask-WTF
flask-dance[sqla]
flask-login
blinker