{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="about">
            <h2>Хорошая работа найдет тебя
                <a href="{{ url_for('postings.posting_create') }}">Попробуй</a>&#160;ей&#160;помочь.
            </h2>
            <div class="about-description">
                <h3>Я сделал этот сайт, когда три моих друга потеряли работу из-за COVID-19.</h3>

                <p>
                    Каждый работодатель знает: все самые лучшие специалисты уже имеют работу.
                    Но сейчас ситуация изменилась.
                </p>
                <p>
                    Из-за эпидемии многие компании несут убытки и скоращают рабочие места.
                    Хорошие сотрудники оказываются в поиске работы.
                    Другие компании растут, знают об этом и набирают людей.
                    Размещай своё резюме здесь и им будет проще тебя найти.
                </p>

                <a href="{{ url_for('postings.posting_create') }}">Попробуй&#160;прямо&#160;сейчас</a>, займет не больше 10 минут.
            </div>
            <div class="about-links">
                <ul>
                    <li>В<a href="#" target="_blank"><img src="https://img.icons8.com/windows/32/000000/telegram-app.png"/> чате сообщества</a>
                        можно сообщить о&#160;проблеме, предложить идею и&#160;обсудить насущное.</li>
                    <li><a href="https://teleg.run/btseytlin" target="_blank"><img src="https://img.icons8.com/windows/32/000000/telegram-app.png"/> Связаться с автором</a></li>
                </ul>
            </div>
        </div>
        <div class="about-pic">
            <img class="pure-img" src="{{ url_for('static', filename='astronaut.png') }}" alt="astronaut"/>
        </div>
    </div>
{% endblock %}