<!doctype html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}" />

    <meta name="description" content="{% block description %}Платформа шеринга сотрудников. Сдать команду в аренду. Нанять команду. Поиск работы.{% endblock %}">
    <meta name="keywords" content="работа, нет работы, ковид, covid-19,
                безработица, сокращение,
                сократили, резюме, cowork19, cowork-19, cowork,
                аренда команды, команда в аренду, отдел в аренду, сдать команду в аренду,
                шеринг сотрудников">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>COWORK-19</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110085919-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110085919-2');
    </script>

</head>
<body>
    {% include 'navbar.html' %}

    <div>
        {% include 'partners.html' %}
        {%  if  get_flashed_messages()  %}
        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}💡</div>
            {% endfor %}
        </div>
        {%  endif  %}
        <div class="content">

            <div class="container welcome hidden" id="welcome">
            <p>👋 Привет!
                Это сайт для тех, кто ищет работу в связи с эпидемией COVID-19.<br/>
                Здесь тебя ждут:
                <ul>
                    <li>Резюме других кандидатов на этой странице,</li>
                    <li>Возможность <a href="/create">разместить своё резюме</a>,</li>
                    <li>Новая работа (надеюсь).</li>
                </ul>
            </p>
            <a class="welcome-close" onclick="closeWelcome()">Понятно, больше не показывать.</a>
            <br/>
            </div>


          {% block content %}{% endblock %}
        </div>
    </div>
    <footer>
        <div class="container">
            <ul>
                <li><a href="https://teleg.run/cowork19club" target="_blank">Telegram-канал</a></li>
                <li><a href="https://teleg.run/joinchat/FzaNb0ZGqSl87UaA2UGcBw" target="_blank">Чат сообщества</a></li>
                <li><a href="https://teleg.run/btseytlin" target="_blank">Написать автору</a></li>
                <li><a href="/static/terms.txt">Пользовательское соглашение</a></li>
                <li><a href="/static/privacy.txt">Персональные данные</a></li>
            </ul>
        </div>
    </footer>
</body>