{% extends 'base.html' %}

{% block content %}

    <div class="container welcome hidden" id="welcome">
        <p>👋 Привет!
            Это сайт для тех, кто ищет работу всвязи с эпидемией COVID-19.<br/>
            Здесь тебя ждут:
            <ul>
                <li>Резюме других кандидатов на этой странице,</li>
                <li>Возможность <a href="/create">разместить своё резюме</a>,</li>
                <li>Новая работа (надеюсь).</li>
            </ul>
        </p>
        <a class="welcome-close" onclick="closeWelcome()">Понятно, больше не показывать.</a>
        <br/>
    </div>

    <div class="container">
        <div class="search">
            <form class="search-form" method="GET" action="{{ url_for('postings.posting_list') }}">
                <input class="search-bar" type="text" name="search_string"
                           id="search_string" placeholder="Кого будем искать?"
                           value ="{{ search_string }}"/>
                <button class="search-button" type="submit">Искать</button>
            </form>
        </div>

            <div class="caniddate-list">
              {% for object in objects %}
                  {% include 'posting_card.html' %}
              {% endfor %}
            </div>

            <div class="pagination">
                <div class="pagination-element">
                {% if page > 1 %}
                      <a href="/?page=1"><button class="button">⤌ начало</button></a>
                {% endif %}
                </div>
                <div>
                {% if page > 1 %}
                     <a href="/?page={{ page-1 }}"><button class="button">⟵ {{ page-1 }}</button></a>
                {% endif %}
                </div>
                <div>
                {% if not is_last_page %}
                    <a href="/?page={{ page+1 }}"><button class="button">{{ page+1 }} ⟶</button></a>
                {% endif %}
                </div>
            </div>


    </div>
{% endblock %}