{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <h1>Команда ищет проект</h1>

        <div class="form-explanation">
                <p>Расскажите о своей команде и о том, какие предложения вы ищете.</p>

                <p>Мы стараемся помогать компаниям в рамках кризиса (текущего и надвигающегося). </p>
        </div>

        <form class="create-form need-team-form" method="POST" action="{{ url_for('postings.team_needs_work') }}">
            {{ form.csrf_token }}


            {%  if form.errors %}
                <div class="form-errors">
                    <ul>
                        {%  for field in form.errors %}
                            {% for error in form.errors[field] %}
                                <li>{{ form[field].label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="form-element">
                <div class="hidden">{{ form.name.label }}</div>
                <div class="form-name">{{ form.name(placeholder="Чем занимается команда?", class="form-error" if form.name.errors else "") }}</div>
                <div class="input-helper">Например: Колл-центр из туризма, разработка приложений для Италии</div>
            </div>

            <div class="form-element">
                <div class="hidden">{{ form.oneliner.label }}</div>
                <div class="form-oneliner">{{ form.oneliner(placeholder="В каком составе?", maxlength=40, class="form-error" if form.oneliner.errors else "") }}</div>
                <div class="input-helper">Например: 5 отважных бойцов, 1 аналитик и 1 руководитель</div>
            </div>

            <div class="form-element">
                <div class="hidden">{{ form.description.label }}</div>
                <div class="form-description">{{ form.description(placeholder="Что умеет команда и как оценивается? Какие предложения вы ищете?", maxlength=300, class="form-error" if form.description.errors else "") }}</div>
                <div class="input-helper">Например: Как будда сидим в битрикс24, можем продать акции МММ в 2020 году, пишем код в перчатках, общаемся с клиентами без масок</div>
            </div>

            <div class="form-element">
                <div class="hidden">{{ form.url.label }}</div>
                <div class="form-url">{{ form.url(type=url, placeholder="Красивый сайт", class="form-error" if form.url.errors else "") }}</div>
                <div class="input-helper">Необязательное поле. Но можно пропиарить ответственных руководителей</div>
            </div>


            <div class="form-element">
                <div class="form-email">{{ current_user.email }}</div>
                <div class="input-helper">Эта почта будет указана в&#160;объявлении</div>
            </div>


            <div class="form-element">
                <div class="hidden">{{ form.contact.label }}</div>
                <div class="form-contact">{{ form.contact(type=contact, placeholder="Дополнительный контакт", class="form-error" if form.url.errors else "") }}</div>
                <div class="input-helper">Поудобнее, чем почта. Номер телефона, Telegram, ТамТам, ICQ, Jabber</div>
            </div>

            <div class="form-element">
                <input type="submit" value="Разместить в канале">
            </div>

        </form>
    </div>
{% endblock %}

