{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <h1>Команда ищет проект</h1>

        <form class="create-form need-team-form" method="POST" action="{{ url_for('postings.team_needs_work') }}">
            {{ form.csrf_token }}

            <div class="form-errors">
                {%  if form.errors %}
                    <ul>
                        {%  for field in form.errors %}
                            {% for error in form.errors[field] %}
                                <li>{{ form[field].label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-element">
                <div class="hidden">{{ form.name.label }}</div>
                <div class="form-name">{{ form.name(placeholder="Заголовок", class="form-error" if form.name.errors else "") }}</div>
                <div class="input-helper">50 символов</div>
            </div>

            <div class="form-element">
                <div class="hidden">{{ form.oneliner.label }}</div>
                <div class="form-oneliner">{{ form.oneliner(placeholder="Подзаголовок", maxlength=40, class="form-error" if form.oneliner.errors else "") }}</div>
                <div class="input-helper">80 символов</div>
            </div>

            <div class="form-element">
                <div class="hidden">{{ form.description.label }}</div>
                <div class="form-description">{{ form.description(placeholder="Описание", maxlength=300, class="form-error" if form.description.errors else "") }}</div>
                <div class="input-helper">500 символов</div>
            </div>

            <div class="form-element">
                <div class="hidden">{{ form.url.label }}</div>
                <div class="form-url">{{ form.url(type=url, placeholder="Ссылка", class="form-error" if form.url.errors else "") }}</div>
                <div class="input-helper"></div>
            </div>


            <div class="form-element">
                <div class="form-email">{{ current_user.email }}</div>
                <div class="input-helper">Эта почта будет указана в&#160;объявлении</div>
            </div>


            <div class="form-element">
                <div class="hidden">{{ form.contact.label }}</div>
                <div class="form-contact">{{ form.contact(type=contact, placeholder="Дополнительный контакт", class="form-error" if form.url.errors else "") }}</div>
                <div class="input-helper">Например номер телефона</div>
            </div>

            <div class="form-element">
                <input type="submit" value="Разместить">
            </div>

        </form>
    </div>
{% endblock %}

