<div class="container">
    <div class="partners">
        <h5>Партнеры COWORK-19</h5>
        <div class="partners-list">
            <a class="partner" href="http://osome.com" target="_blank">
                <img src="{{ url_for('static', filename='partners/osome.jpg') }}"
                     alt="логотип Osome"/>
            </a>

            <a class="partner" href="https://teleg.run/jobskolkovo" target="_blank">
                <img src="{{ url_for('static', filename='partners/skoltech.jpg') }}"
                     alt="логотип Сколково Технопарк"/>
            </a>

            <a class="partner" href="http://inplat-tech.ru" target="_blank">
                <img src="{{ url_for('static', filename='partners/inplat.jpg') }}"
                     alt="логотип Inplat Technologies"/>
            </a>
        </div>
    </div>
</div>