<article class="posting-card" id="posting-{{ object.id}} }}">

    <header>
        <div class="card-title">
            <h3 class="posting-name">{{ object.name }}</h3>
            <h5 class="created-at">{{ object.created_at.strftime('%Y-%m-%d') }}</h5>
        </div>
        <div class="cv-urls">
            <a href="{{ object.cv_url }}" class="cv-link">CV/Портфолио</a>
        </div>
    </header>
    <div class="card-body">
        <div>
            <div class="wrap-collabsible">
              <input id="collapsible-{{ object.id }}" class="collapse-toggle" type="checkbox">
                <label for="collapsible-{{ object.id }}" class="collapse-lbl-toggle">
                    <span class="catch-phrase">{{ object.description }}</span></label>

              <div class="collapsible-content">
                <div class="content-inner">
                  <p class="description">
                    {{ object.description }}
                  </p>
                </div>
              </div>
            </div>
        </div>
        <div>
            <a href="mailto:{{ object.user.email }}" class="email-link">{{ object.user.email }}</a>
        </div>
    </div>

    {% if current_user == object.user %}
        <a class="pure-button" href="{{ url_for('postings.posting_archive', posting_id=object.id) }}">Archive</a>
    {% endif %}

</article>

