html {
    height: 100%;
    padding: 0;
    margin: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    word-break: keep-all;
    hyphens: none;
}

h1, h2 {
    line-height: 30px;
}

p, div, span {
    word-break: keep-all;
    hyphens: none;
    line-height: 21px;
}

h1 {
    color: #3E2FED;
}

a {
    color: #3E2FED;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.hidden {
    display: none;
}

/* Footer */
body {
  display: flex;
  flex-direction: column;
    height: 100%;
}

body > div {
    flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

footer a {
    color: #737373;
    font-size: 16px;
}

footer ul, footer ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    /*float: right;*/
    text-align: right;
}

.logo {

    text-align: center;
    display: inline-block;
    color: #3E2FED;
}

.logo-img {
    max-width: 200px;
}

.top-bar {
    background: #E0E0E0;
    min-height: 60px;
    width:100%;
    padding-bottom: 10px;
    margin-bottom: 43px;
}


.container {
    padding: 5px 0;
    width: 44%;
    margin: 0 auto;
}

.v-center-parent {
    display: table;
    height:100%;
}

.v-center-child {
    display: table-cell;
    vertical-align: middle;
}

.auth {
    text-align: right;
}

.flash {
    border: 3px solid #737373;
    padding: 5px;

}

input, button, textarea {
    border-radius: 0;
    padding:7px;
    padding-right: 1px;
    margin: 0;
    border: 3px solid #3E2FED;
}
input::placeholder {
    border-radius: 0;
    padding: 0;
    margin: 0;
    border: none;
}
button, input[type="submit"] {
    background-color: white;
}



/* search */

.search {
    margin-bottom: 43px;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.search-bar {
    background-color: #3E2FED;
    color:white;
    display: block;
    width:45%;
    margin-left: 0;
    margin-right: 10px;
}

.search-bar::placeholder {
    background-color: #3E2FED;
    color:white;
}

.search-button {
    display: block;
    width: 100px;
    background-color: white;
    color: black;
}

/* list of cards */

.caniddate-list article {
    margin-bottom: 15px;
}

.caniddate-list {
    margin-bottom: 43px;
}

.pagination {
    margin: auto;
    width:70%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.pagination-element {
    min-width: 60px;
}

/* posting card */

.posting-card {
    border: 3px solid #E0E0E0;
    padding: 10px;
}

.posting-card a {
    font-weight: bold;
}

.posting-card header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.posting-card header .card-title {
    display: flex;
    justify-content: left;
}

.posting-card header .card-title h3 {
    margin: 0;
    margin-right: 5px;
}

.posting-card header .card-title .created-at {
    color: gray;
    margin: 0 5px;
}

.posting-card .card-body {
    display: flex;
    justify-content: space-between;
}

.card-footer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.card-footer .card-delete {
    margin: 0;
}

.card-footer .card-delete:hover, .card-footer .card-delete a:hover{
    background-color: #820003;
    border-color: #820003;
    color: white;
}


/* Google button */

.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;

  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }

  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}



/* create form */


.form-element {
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;
}

.form-element input, .form-element textarea {
    width: 100%;
}

.form-element div {
    margin: auto 0;
    word-break: keep-all;
    hyphens: none;
}

.form-element .input-helper {
    text-align: left;
    max-width: 30%;
}

.form-error {
    border: 3px solid #820003;
}

.form-name {
    max-width: 30%;
}

.form-description, .form-oneliner, .form-cv_url, .form-email {
    min-width: 60%;
    max-width: 100%;
}

.form-email {
    color: #3E2FED;
    font-weight: bold;
}

.form-description textarea {
    height: 150px;
    overflow: visible;
}

.form-element input[type="submit"] {
    color: white;
    background-color: #3E2FED;
}

/* About page */
.about-pic {
    max-width: 30%;
    margin:auto;
    margin-top: 40px;
}

.about-text {
    max-width: 60%;
}


/* navbar */

.main-nav {
  list-style-type: none;
  padding-left: 0;
}


.nav-links,
.logo {
  text-decoration: none;
    color: #3E2FED;
}

.main-nav li {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: auto;
}

.nav-links.add-resume {
    font-weight: bold;

}


.navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
}

.main-nav {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* Mobile overriвes */

@media only screen and (max-width: 1400px) {
    .container {
        width: 80%;
    }

    .navbar {
        /*display: flex;*/
        display: block;
        /*justify-content: flex-start;*/
        text-align: left;
    }
    .navbar div {
        margin: 0;
        padding: 0;
        display: block;
        height: auto;
    }
    .auth {
        display: block;
        float:left;
        margin:0;
        text-align: left;
    }
    .navbar > div {
    }

    .main-nav {
        display: block;
        max-width: 50%;
    }

    .main-nav li {
        text-align: left;
        margin:0;
    }

    .nav-left {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .logo {
        float:right;
        margin:15px 0 0 0;
    }
    .logo img {
        max-width: 150px;
    }
}


@media only screen and (max-width: 768px) {
    html {
        font-size: 12px;
        line-height: 8px;
    }

    h1 {

        font-size: 14px;
    }

    footer a {
        font-size: 10px;
    }

    .container {
        width: 90%;
    }

    .top-bar {
        max-height: 80px;
        margin-bottom: 15px;
    }

    .search {
        margin-bottom: 15px;
    }
    .search-bar {
        width:65%;

    }
    .posting-card header {
        display: block;
    }

    .posting-card .card-body {
        display: block;
    }

    .posting-card header .card-title {
        display: block;
    }
    .posting-card header .card-title .created-at {
        margin: 0;
        display: block;
    }

    .google-button {
        height: 25px;
        padding: 0;
    }
    .google-button .google-button__icon {
        margin: 0;
        margin-bottom: 2px;
        margin-left: 5px;
    }
    .google-button .google-button__text {
        padding: 0 4px 0px 2px;
    }

    .form-element {
        display: block;
        margin-bottom: 20px;
    }
    .form-element br {
        display: none;
    }
    .form-element .input-helper {
        margin-top: 5px;
        max-width: 100%;
    }

    .form-name {
        max-width: 80%;
    }

    .form-element {
        max-width: 80%;
    }
    .form-description, .form-oneliner, .form-cv_url, .form-email {
        max-width: 100%;
    }

    .about-text {
        max-width: 100%;
    }

    .logo img {
        max-width: 75px;
    }
    .logo {
        padding-right: 10px;
    }
}


/* collapsible
https://alligator.io/css/collapsible/

*/
.collapse-toggle {
  display: none;
}

.collapse-lbl-toggle {
  display: block;

  cursor: pointer;

  transition: all 0.25s ease-out;
}

.collapse-lbl-toggle:hover {

}

.collapse-lbl-toggle::after {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-left: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

.collapse-toggle:checked + .collapse-lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.collapse-toggle:checked + .collapse-lbl-toggle::after {
  transform: rotate(90deg) translateX(-3px);
}

.collapse-toggle:checked + .collapse-lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}