html {
    height: 100%;
    padding: 0;
    margin: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    word-break: keep-all;
    hyphens: none;
}

img {
    height: auto;
    display: block;
    max-width: 100%;
}

.img-inline {
    display: inline-block;
    max-height: 20px;
    vertical-align: middle;
}

h1, h2 {
    line-height: 30px;
}

p, div, span {
    word-break: keep-all;
    hyphens: none;
    line-height: 21px;
}

h1 {
    color: #3E2FED;
}

a {
    color: #3E2FED;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.hidden {
    display: none;
}

/* Footer */
body {
  display: flex;
  flex-direction: column;
    height: 100%;
}

body > div {
    flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

footer a {
    color: #737373;
    font-size: 16px;
}

footer ul, footer ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    /*float: right;*/
    text-align: right;
}

.content {
    margin-top: 15px;
}

.logo {

    text-align: center;
    display: inline-block;
    color: #3E2FED;
}

.logo-img {
    width: 200px;
}

.top-bar {
    background: #E0E0E0;
    min-height: 60px;
    width:100%;
    padding-bottom: 10px;
    margin-bottom: 23px;
}


.container {
    padding: 5px 0;
    width: 700px;
    margin: 0 auto;
}

.v-center-parent {
    display: table;
    height:100%;
}

.v-center-child {
    display: table-cell;
    vertical-align: middle;
}

.auth {
    text-align: right;
}

.flash {
    border: 3px solid #737373;
    padding: 5px;

}

input, button, textarea {
    border-radius: 0;
    padding:7px;
    margin: 0;
    border: 3px solid #3E2FED;
}
input, textarea {
    padding-right: 1px;
}

input::placeholder {
    border-radius: 0;
    padding: 0;
    margin: 0;
    border: none;
}
button, input[type="submit"] {
    background-color: white;
}



/* search */

.search {
    margin-bottom: 20px;
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-bar {
    background-color: #3E2FED;
    color:white;
    display: block;
    margin-left: 0;
    margin-right: 10px;

    max-width: 220px;
}

.search-bar::placeholder {
    background-color: #3E2FED;
    color:white;
}

.search-button {
    display: block;
    width: 100px;
    background-color: white;
    color: black;
}

/* list of cards */


.search > .button-add-yours {
    width: 350px;
    margin-left: 5px;
}

.list-menu {
    display: flex;
    justify-content: center;
}

.list-menu > a {
    font-size: 18px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: center;
    text-align: center;

    display: table-cell;

    border-right:3px solid #3E2FED;
    border-left:3px solid #3E2FED;
    /*border-left:3px solid #3E2FED;*/

    cursor:pointer;
}
.list-menu > a:nth-child(2) {
    border-right: none;
    border-left: none;
}

.list-menu > a.active-list {
    font-size: 24px;
    font-weight: bold;
}


.card-list article {
    margin-bottom: 15px;
}

.card-list {
    margin-bottom: 43px;
}

.pagination {
    margin: auto;
    width:70%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.pagination-element {
    min-width: 60px;
}

/* posting card */

.posting-card {
    border: 3px solid #E0E0E0;
    padding: 10px;
}

.posting-card a {
    font-weight: bold;
}

.posting-card header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.posting-card header .card-title {
    display: flex;
    justify-content: flex-start;
}

.posting-card header .card-title h3 {
    margin: 0;
    margin-right: 5px;
}

.posting-card header .card-title .created-at {
    color: gray;
    margin: 0 5px;
}

.posting-card .card-body {
    display: flex;
    justify-content: space-between;
}

.posting-card p.description {
    text-align: justify;
    max-height: 400px;
    overflow: hidden;
}

.posting-card p.description span {
    display: block;
}

.card-footer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.card-footer .card-delete {
    margin: 0;
}

.card-footer .card-delete:hover, .card-footer .card-delete a:hover{
    background-color: #820003;
    border-color: #820003;
    color: white;
}

/* partners */

.partners {
    height: 80px;
}

.partners > h5 {
    margin: 0;
    font-weight: normal;
    color: #999;
}

.partners > .partners-list {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.partners > .partners-list a {
    display: inline-block;
    height: 65px;
}

.partners > .partners-list img {
    max-width: 87px;
}
/* Google button */

.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;

  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }

  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}



/* create form */

.create-form {
    margin-top: 15px;
}

.form-errors {
    border: 3px solid #820003;
    padding:3px;
    margin-bottom: 10px;
}

.form-errors ul {
    margin: 0;
}
.form-element {
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;
}

.form-element input, .form-element textarea {
    width: 100%;
}

.form-element div {
    margin: auto 0;
    word-break: keep-all;
    hyphens: none;
}

.form-element .input-helper {
    text-align: left;
    max-width: 30%;
}

.form-error {
    border: 3px solid #820003;
}



.form-name,
.form-oneliner,
.form-cv_url,
.form-description, .form-email,
.form-cv_url,
.form-url,
.form-contact {
    width: 60%;
}



.form-email {
    color: #3E2FED;
    font-weight: bold;
}

.form-description textarea {
    height: 150px;
    overflow: visible;
}

.form-element input[type="submit"] {
    color: white;
    background-color: #3E2FED;
}


.form-explanation {
    width: 15%;
    position: absolute;
    top: 160px;
    left: 10%;

    text-align: justify;
}

/* Welcome */
.welcome {
    margin-bottom: 30px;
}

.welcome .welcome-close {
    cursor: pointer;
    float:right;
    text-align: right;
}

/* About page */
.about-pic {
    max-width: 30%;
    margin:auto;
    margin-top: 40px;
}

.about {
    max-width: 80%;
    text-align: justify;
}
.about-description {
    text-align: justify;
}

/* navbar */

.main-nav {
  list-style-type: none;
  padding-left: 0;
}


.nav-links,
.logo {
  text-decoration: none;
    color: #3E2FED;
}

.main-nav li {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: auto;
}

.nav-links.add-resume {
    font-weight: bold;

}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
}

.main-nav {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* Mobile overriвes */

@media only screen and (max-width: 1400px) {


    .navbar {
        /*display: flex;*/
        display: block;
        /*justify-content: flex-start;*/
        text-align: left;
    }
    .navbar div {
        margin: 0;
        padding: 0;
        display: block;
        height: auto;
    }
    .auth {
        display: block;
        float:left;
        margin:0;
        text-align: left;
    }
    .navbar > div {
    }

    .main-nav {
        display: block;
        max-width: 50%;
    }

    .main-nav li {
        text-align: left;
        margin:0;
    }

    .nav-left {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }



    .form-explanation {
        position: inherit;
        display: block;
        width: 60%;
    }

    .google-button {
        height: 25px;
        padding: 0;
    }
    .google-button .google-button__icon {
        margin: 0;
        margin-bottom: 2px;
        margin-left: 5px;
    }
    .google-button .google-button__text {
        padding: 0 4px 0px 2px;
    }

}


@media only screen and (max-width: 825px) {
    html {
        font-size: 16px;
        line-height: 8px;
    }


    footer a {
        font-size: 16px;
    }

    .content {
        margin-top: 7px;
    }

    .container {
        width: 90%;
    }

    .top-bar {
        max-height: 80px;
        margin-bottom: 15px;
    }

    .list-menu > a {
        font-size: 16px;
        height: 35px;
        line-height: 35px;
    }

    .list-menu > a.active-list {
        font-size: 20px;
    }

    .search {
        margin-bottom: 15px;
        flex-direction: column;
        justify-content: space-between;
    }
    .search > .button-add-yours  {
        width:100%;
        margin: 0;
        margin-top: 10px;
    }

    .search-form {
        justify-content: space-between;
    }

    .search-bar {
        width:100%;
    }

    .posting-card header {
        display: block;
    }

    .posting-card .card-body {
        display: block;
    }

    .posting-card header .card-title {
        display: block;
    }
    .posting-card header .card-title .created-at {
        margin: 0;
        display: block;
    }

    .form-element {
        display: block;
        margin-bottom: 20px;
    }
    .form-element br {
        display: none;
    }
    .form-element .input-helper {
        margin-top: 5px;
        max-width: 100%;
    }


    .form-element {
        width: 80%;
    }

    .form-name,
    .form-oneliner,
    .form-cv_url,
    .form-description, .form-email,
    .form-cv_url,
    .form-url,
    .form-contact {
        width: 100%;
    }

    .about {
        max-width: 100%;
    }

    .logo img {
        max-width: 75px;
    }
    .logo {
        padding-right: 10px;
    }
}


/* collapsible
https://alligator.io/css/collapsible/

*/
.collapse-toggle {
  display: none;
}

.collapse-lbl-toggle {
  display: block;

  cursor: pointer;

  transition: all 0.25s ease-out;
}


.collapse-lbl-toggle::after {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-left: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

.collapse-toggle:checked + .collapse-lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.collapse-toggle:checked + .collapse-lbl-toggle::after {
  transform: rotate(90deg) translateX(-3px);
}

.collapse-toggle:checked + .collapse-lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* navbar */
.nav {
  height: 50px;
  width: 100%;
  position: relative;
    background: #E0E0E0;
    display: flex;
    justify-content: center;
}



.nav > .nav-header {
  display: inline-block;
}

.nav > .nav-header, .nav > .nav-auth {
    width: 220px;
}

.nav > .nav-auth {
    padding-top: 5px;
}

.nav > .nav-header > .nav-title, .nav > .nav-header > .nav-title-sm {
  display: inline-block;
  font-size: 22px;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-header > .nav-title-sm {
    display: none;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: left;
  font-size: 18px;

    width: 700px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
    color: #3E2FED;
}

.nav > .nav-links > a:hover {
    text-decoration: underline;
}


.nav > #nav-check {
  display: none;
}

@media only screen and (max-width: 1400px) {
    .nav {
        justify-content: flex-start;
    }

    .nav > .nav-links {
        width: auto;
    }

    .nav > .nav-links > a {
        display: inline-block;
        padding: 13px 3px 13px 3px;
    }

    .nav > .nav-header, .nav > .nav-auth {
        width: auto;
    }

    .nav > .nav-auth {
        padding-top: 0px;
        margin-left: 5px;
        width: 100px;
    }

}

@media (max-width:825px) {

    h1 {
        font-size:24px;
    }
    .nav > .nav-header > .nav-title-sm {
        display: inline-block;
    }
    .nav > .nav-header > .nav-title {
        display: none;
    }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {

  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid black;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #E0E0E0;
    height: 0px;
    transition: all 0.1s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
      padding-left: 15px;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}